
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  background-color: #F2F2F2;
  color: #000000;
}

.container{
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list{
  display: flex;
  list-style-type:none;
  padding: 0;
  margin: 0;
}
.navigation-link{
  font-weight: 700;
  font-size: 20px;
  color:#000000;
  text-decoration: none;
}
.navigation-link-link{
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px 34px;
}
.navigation-item{
  display: flex;
}


.main-index{

}

.hero{
  background: url("../images/vectorhero.svg") no-repeat,url("../images/index-background.jpg") no-repeat;
  background-position: center bottom, center;
  text-align: center;

}

.advantages{
  text-align: center;
}
.advantages p{
  font-size: 18px;
  line-height: 21px;
}
.advantages h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.advantages-list{
  list-style-type:none;
  padding: 0;
  margin: 0;

}
.advantages-item{
  display: flex;

}
 .blue{
  background: #82B3D3;
}
.whiteblue{
  background: rgba(131, 179, 211, 0.12);
}
.lightblue{
  background: rgba(131, 179, 211, 0.2);
}
.advantages-item h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-item p{
  font-size: 18px;
  line-height: 21px;
}

.recommendation{
  text-align: center;
}
.recommendation-list{
  display: flex;
  flex-direction: row;
  list-style:none;
  padding-left: 0;
}
.recommendation-item h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.recommendation-item p{
  font-size: 18px;
  line-height: 21px;
}

.search-hotel{
  text-align: center;
}
.search-hotel h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.search-hotel p{
  font-size: 22px;
  line-height: 26px;
}
.search-link{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  border-radius: 4px;
  padding: 8px 50px;
}

.subscribe{
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  background: url("../images/subscribe.jpg") no-repeat;
  background-size: cover;
}
.subscribe h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe p{
  font-size: 22px;
  line-height: 26px;
}
.field{
  width: 452px;
  height: 52px;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 18px;
}
.subscribe-button{
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-transform: uppercase;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}

.page-footer{
  display: flex;

}
.footer-social-list{
  display: flex;
  list-style-type: none;
  padding-left: 0;

}

.footer-contacts-address-phone{
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-style: normal;
}


.main-catalog{

}

.catalog-hotel{
  color: #ffffff;
  background: url("../images/catalog-background.jpg") no-repeat;
  margin: 0 auto;
  background-size: cover;
}
.catalog-hotel h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs{
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;

}
.catalog-filter-list{
  list-style-type: none;
  font-size: 18px;
  line-height: 23px;
}
.button-apply{
  color: #ffffff;
  width: 191px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
}
.button-reset{
  color: #ffffff;
  background: none;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
}

.sorting{
  display: flex;

}
.sorting h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.select-control{
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}


.hotel-list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

}
.hotel-card{
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 340px;
  margin-left: 20px;
  margin-bottom: 20px;

}
.hotel-card img{
  padding: 20px 20px 16px 20px;
}
.hotel-card p{
  color: #333333;
  font-size: 18px;
  line-height: 21px;


}
.hotel-card-link{
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.hotel-card-more {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
  padding: 8px 26px;
}
.hotel-card-tofavorit{
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  background: #82B3D3;
  border-radius: 4px;
}
.hotel-card-infavorit{
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  background: #7DB54F;
  border-radius: 4px;
}
.raiting{
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  padding: 9px 0;
}

.pagination{
  margin: 0 70px;
}
.pagination-number{
  display: flex;
  align-items: center;
  list-style-type: none;
}
.pagination-link{
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.pagination-link span{
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

}
.pagination-current{
  color: #000000;
  background: #F2F2F2;

}

.subscribe-catalog{
  text-align: center;
  background-size: 100% auto;
}
.subscribe h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe p{
  font-size: 22px;
  line-height: 26px;
}
.field{
  width: 452px;
  height: 52px;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 18px;

}
.subscribe-button{
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-transform: uppercase;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}
