
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  background-color: #F2F2F2;
  color: #000000;
}

.container{
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.button{
  border: 0;
  cursor: pointer;
}

/* navigation */
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  margin: 0;
}
.page-header-logo{
  width: 140px;
  height: 70px;
}
.navigation-list{
  display: flex;
  list-style:none;
  flex-wrap: wrap;
  width: 500px;
  padding:0;
  margin:0;
  align-items: center;
  margin-bottom: 10px;
}
.navigation-link{
  display: block;
  padding: 16px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#000000;
  text-align: center;
  text-decoration: none;
}
.navigation-user-list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#000000;
  text-decoration: none;
  padding: 16px 13px;
}
.user-link-button{
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin-left: 20px;
}
.user-link-fav{
  position: relative;
}
.user-link-fav span{
  position: absolute;
  top: 5px;
  right: 3px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  width: 20px;
  height: 20px;
  background: #7DB54F;
  border-radius: 50%;
}
.user-item span{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* main */
.main-index{}

.hero{
  background: url("../images/vectorhero.svg") no-repeat,url("../images/index-background.jpg") no-repeat;
  background-position: center bottom, center;
  text-align: center;
  margin: auto;
  margin-top: -15px;
  padding-top: 51px;
  padding-bottom: 82px;
}


.advantages{
  text-align: center;
}
.adventages-description{
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 90px;
  width: 60%;
}
.las-vegas{
  width: 65%;
}
.advantages h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 69px;
  margin-bottom: 25px;
}
.advantages p{
  padding-bottom: 90px;
}
.advantages-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.advantages-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advantages-item{
  display: flex;
}
 .blue{
  background: #82B3D3;
  color: #ffffff;
}
.whiteblue{
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}
.lightblue{
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
}
.adventages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 43%;
  margin: 0 auto;
  margin-bottom: 62px;
  padding-top: 103px;
}
.advantages-item p{
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 121px;
}

.recommendation{
  text-align: center;
}
.recommendation-list{
  display: flex;
  flex-direction: row;
  list-style:none;
  padding: 0;
  margin: 0;
}
.recommendation-item{
  width: 400px;
}
.recommendation-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.recommendation-item p{
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 80px;
  margin-top: 30px;
}
.recommendation-icon{
  padding-top: 80px;
  margin-bottom: 30px;
}



.search-hotel{
  text-align: center;
  padding: 96px 304px;
}
.search-hotel h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.search-hotel p{
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}
.search-link{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  border-radius: 4px;
  padding: 8px 50px;
}

.subscribe{
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  background: url("../images/subscribe.jpg") no-repeat;
  background-size: cover;
  padding-top: 96px;
  padding-bottom: 104px;

}
.subscribe-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscribe-text{
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  max-width: 475px;
  margin-left: 363px;
}
.subscribe-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.field{
  width: 452px;
  height: 52px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  border: 0;
  box-sizing: border-box;
  padding-left: 20px;

}
.subscribe-button{
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  text-transform: uppercase;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  width: 232px;
}


/* footer */
.page-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 80px;
}
.footer-social-list{
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
  width: 130px;
  align-items: center;
  height: 50px;
}
.fotter-social-link{
  display: flex;
  padding: 13px 10px;
}

.footer-contacts-address-phone{
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-style: normal;
}


/* catalog */
.main-catalog{}

.catalog-hotel{
  color: #ffffff;
  background: url("../images/catalog-background.jpg") no-repeat;
  margin: 0 auto;
  background-size: cover;
  margin-top: -15px;
}
.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding-left: 70px;
  margin: 0;
}
.breadcrumbs{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  padding-left: 70px;
  background: url('../images/catalog/arrow-right.svg') no-repeat;
  background-position: 8% 50%;
}
.breadcrumbs-link-index{
  margin-right: 29px;
}


.catalog-filter-group{
  border: 0;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
}
.catalog-filter-list{
  list-style: none;
  font-size: 18px;
  line-height: 23px;
}
.button-apply{
  color: #ffffff;
  width: 191px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
}
.button-reset{
  color: #ffffff;
  background: none;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
}

.sorting{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px 40px;
}
.sorting-view{
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sorting-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 200px;
}
.select-control{
  cursor: pointer;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  appearance: none;
  padding: 14px 20px;
  background: url('../images/catalog/arrow-down.svg') no-repeat;
  background-position: 95% 50%;
}


.hotel-list{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 70px;
  justify-content: space-between;
}
.hotel-card{
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 340px;
  margin-bottom: 20px;
  padding-top: 20px;
}
.hotel-card-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 100%;
}
.hotel-card-image{
  padding: 0 20px;
}
.hotel-card-price,
.hotel-card-type{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  width: 50%;
}
.hotel-card-link{
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.hotel-card-more {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
  padding: 8px 26px;
}
.hotel-card-tofavorit{
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  background: #82B3D3;
  border-radius: 4px;
}
.hotel-card-infavorit{
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  background: #7DB54F;
  border-radius: 4px;
}
.hotel-card-raiting{
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  padding: 9px 0;

}

.pagination-number{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 80px 70px 60px;
}
.pagination-link{
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.pagination-span{
  font-size: 22px;
  line-height: 26px;
  padding: 17px 29px;
}
.pagination-current{
  color: #000000;
  background: #F2F2F2;

}

.subscribe-catalog{
  text-align: center;
  background-size: 100% auto;
  padding-top: 96px;
  padding-bottom: 104px;
}
